<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Starting Daily Intake</key>
	<string>0</string>
	<key>Current Daily Intake</key>
	<string>0</string>
	<key>Goal Daily Intake</key>
	<string>0</string>
	<key>Pack Size</key>
	<string>0</string>
	<key>Pack Cost</key>
	<string>0</string>
</dict>
</plist>
