<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nicotine Withdrawal</key>
	<string>1</string>
	<key>Capacity</key>
	<string>1</string>
	<key>Lung Hairs</key>
	<string>1</string>
	<key>Coronary Arteries</key>
	<string>1</string>
	<key>Heart Attack</key>
	<string>1</string>
	<key>Stroke</key>
	<string>1</string>
	<key>Lung Cancer</key>
	<string>1</string>
</dict>
</plist>
