<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Groceries</key>
	<array>
		<string>Milk</string>
		<string>Bread</string>
		<string>Spinach</string>
	</array>
	<key>Advanced App Development</key>
	<array>
		<string>Lab 2</string>
		<string>Project 1: Milestone 2</string>
		<string>Project 1: Milestone 3</string>
	</array>
	<key>Algorithms</key>
	<array>
		<string>Problem Set 5</string>
	</array>
	<key>Real Time Web</key>
	<array>
		<string>Assignment 4</string>
	</array>
	<key>Capstone 1</key>
	<array>
		<string>AYP Week 5</string>
		<string>Research</string>
	</array>
</dict>
</plist>
